/* Floated Columns ------------------ */


.tips {
  @extend %columns;
  float: left;

  @media #{$break-narrow}{
    float: none;
    width: 100%;
  }
}

.resorts {
  @extend %columns;
  float: right;

  @media #{$break-narrow}{
    float: none;
    width: 100%;
  }
}
